<!DOCTYPE html>
<html lang="en">
	<head>
		<title> info app </title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	</head>
<body>
	
	<div class="container">
		<div class="jumbotron" style="background-color:red;padding:10px 20px; text-align:center; margin-top:10px;">
			<h4 style=" font:bold 22px old english text MT"> Welcome ... backbone js. </h4>
		</div>



		<div id="contain">
			<script type="text/template" id="assets">
				<div class="well well-sm">
					<p style="font:bold 24px old english text MT"> <%= title %>  </p> 
						<p> <%= description %> </p>
						<span class="erase"> 
							<button type="button" style="margin-top:-30px; margin-left:5px;" class="btn btn-success pull-right"> Erase me </button> 
						</span>

						<span class="edit">
							<button type="button" style="margin-top:-30px;" class="btn btn-warning pull-right"> Edit me </button>  	
						</span>			
				</div>
			</script>
		</div>

		<form action="" id="form">
			<h3 style="color: green; font:bold 26px old english text MT"> Provide a record... </h3>
			<div class="form-group"> 
				<label for="title" class="col-lg-1 control-label"> Title </label>
					<div class="col-lg-4">
						<input type="text" name="title" class="form-control">
					</div>

				<label for="desc" class="col-lg-1 control-label"> Description </label>
					<div class="col-lg-4">
						<input type="longtext" name="desc" class="form-control">
					</div>
				
			</div> 

			<button type="submit" class="col-lg-2 btn btn-info"> Submit your info... </button>
		</form> <br /><br /><br />

		<!-- <div class="navbar navbar-inverse navbar-fixed-bottom">

		</div> -->


	</div>

	<script src="bootstrap/js/libs/jquery-1.11.1.min.js"> </script>
		<script src="bootstrap/js/libs/bootstrap.min.js"> </script>
			<script src="bootstrap/js/libs/underscore-min.js"> </script>
			<script src="bootstrap/js/libs/backbone.min.js"> </script>
			<script src="bootstrap/js/models/infoModel.js"> </script>
				<script src="bootstrap/js/views/infoSingleView.js"> </script>
					<script src="bootstrap/js/collections/collection.js"> </script>
						<script src="bootstrap/js/views/infoCollectionView.js"> </script>
							<script src="bootstrap/js/views/infoInputView.js"> </script>
</body>
</html>
